@font-face { font-family: DFPOCOC; src: url('res/DFPOCOC.TTF'); }
html{
    font-family: DFPOCOC;
    background-color: white;
    color: black;
}
body{
  margin: auto;
  max-width: 720px;
	padding-left: 15px;
	padding-right: 15px; 
}
p{
  font-size: 30px;
}
button{
  font-family: DFPOCOC;
} 
