@font-face { font-family: DFPOCOC; src: url('res/DFPOCOC.TTF'); }
html{
    font-family: DFPOCOC;
    /*background-color: rgb(27, 13, 20);*/
    margin: -10px;
    background: url('res/images/Background.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden
}
main{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(75, 4, 48), rgb(88, 29, 66, 0)) 1 100%;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}
#logo{
  text-align: center;
}
#logo img{
  width: 30%;
  height: 30%;
}
hr{
  background-image: linear-gradient(90deg, rgb(49, 38, 57, 0), rgb(75, 4, 48), rgb(49, 38, 57, 0));
  border: 0;
  height: 4px;
  z-index: 2;
}
.splitter{
  width: 100%;
  height: 30px;
  margin-top: -4px;
  margin-bottom: -7px;
  background-image: url('res/images/gradient.png');
}
.smallp{
  font-size: 20px;
  background: -webkit-linear-gradient(#ffffff, #2e2e2e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  vertical-align: middle;
  margin-top: -8px;
}

p{
  font-size: 30px;
  background: -webkit-linear-gradient(#ffffff, #2e2e2e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}